---
interface Props{
    href: string;
    title: string;
    description: string;
    characterLimit?: number;
    classes?: string;
    titleClasses?: string;
}

const{href , title , description , characterLimit , classes , titleClasses} = Astro.props;
---
<li class=`list-none min-w-[50%] lg:min-w-[30%] gap-4 ${classes}`> <a href={href}> <span onclick=`window.transitionToPage(event , "${href}")` class=`h2 ${titleClasses}`>{title}</span> </a> <p>{description.substring(0,(characterLimit ? characterLimit : 150))}...</p></li>