---
import { type CharacterOptions , type EventOptions , type GeographyOptions , type OrganizationOptions } from "../schema/articleSchemas";

interface Props {
    slot?: string;
	imageUrl?: string;
	articleName: string;
    characterDetails?: CharacterOptions;
    eventDetails?: EventOptions;
    geographyDetails?: GeographyOptions;
    organizationDetails?: OrganizationOptions;
}

const { imageUrl , articleName , slot } = Astro.props;
const character = Astro.props.characterDetails,
    event = Astro.props.eventDetails,
    geography = Astro.props.geographyDetails,
    organization = Astro.props.organizationDetails,
    image= Astro.props.imageUrl;
---
<div class="w-[100%]" slot={slot}>
{image ? (<img class="max-h-[50vh] m-auto" src={imageUrl} alt={articleName}>):null}
<h3 class="h3 text-center">{articleName}</h3>
{character ? (
    <>
        <h4 class="h4">Detalles de Personaje:</h4> 
        <div>
            <p><b>Estado: </b>{character.status}</p>
        </div>
        <div>
            <p><b>Raza: </b>{character.race}</p>
        </div>
        <div>
            <p><b>Relacion con el Grupo: </b>{character.alignment}</p>
        </div>
        {character.relationships ? <h4 class="h4">Relaciones:</h4>:null}
        {character.relationships ? character.relationships.map( relationship => (
            <div>
                <p><b>{relationship.type}: </b>{relationship.with}</p>
            </div>
        )) : null } 
    </>
) : null}
{event ? (
    <>
        <h4 class="h4">Detalles del Evento:</h4> 
        <div>
            <p><b>Tipo: </b>{event.type}</p>
        </div>
        <div>
            <p><b>Ubicación: </b>{event.location}</p>
        </div>
        <div>
            <p><b>Impacto: </b>{event.impact}</p>
        </div>
        <div>
            <p><b>Fecha: </b>{event.date}</p>
        </div>  
    </>
) : null}
{geography ? (
    <>
        <h4 class="h4">Detalles del Punto de Interés:</h4> 
        <div>
            <p><b>Tipo: </b>{geography.type}</p>
        </div>
        <div>
            <p><b>Ubicación: </b>{geography.location}</p>
        </div>
    </>
) : null}
{organization ? (
    <>
        <h4 class="h4">Detalles de la Organización:</h4> 
        <div>
            <p><b>Tipo: </b>{organization.type}</p>
        </div>
        <div>
            <p><b>Alcance: </b>{organization.reach}</p>
        </div>
        {organization.location ? 
            <div>
                <p><b>Ubicación: </b>{organization.location}</p>
            </div>
         : null } 
         <div>
            <p><b>Estado: </b>{organization.status}</p>
        </div>
    </>
) : null}
</div>
